.container-posts {
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

.bloc-img-theme img {
  width: 300px;
}

.absolute {
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 100px;
}

.bloc-info-theme {
  margin-top: 200px;
}

.bloc-video-edification {
  margin-top: 25px;
}
.bloc-video-edification iframe {
  width: 600px;
  height: 300px;
}
