.container-teachings-form {
  width: 700px;
  max-width: 100%;
  margin: auto;
  min-height: 500px;
  padding: 50px;
}

.input-style {
  width: 100%;
  padding: 15px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 5px;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

::-webkit-input-placeholder {
  color: #555;
}

.mtop {
  margin-top: 50px;
}

.btn-add {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 12px;
  margin: auto;
  display: block;
  margin-top: 15px;
  border-radius: 2px;
  background: #111;
}

.btn-add:hover {
  background: #cc0000;
  color: #fff;
  transition: 0.2s ease;
}

/* ::-webkit-input-placeholder {
  color: #000;
} */
